.wrapper-container {
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.wrapper-container::-webkit-scrollbar {
    height: 7px;
}


/* Track */

.wrapper-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}


/* Handle */

.wrapper-container::-webkit-scrollbar-thumb {
    background: #747475;
    border-radius: 5px;
}

.jumbo {
    margin-top: 1rem;
}

.badge {
    padding: 0;
    cursor: pointer;
    margin-right: 2rem;
    width: 12rem;
    height: 6rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.page-item.active .page-link {
    background-color: #343a40;
    color: #eee;
    border-color: rgb(82, 82, 82);
}

.page-item :hover {
    background-color: #7e7e7e;
    color: #eee;
    border-color: rgb(82, 82, 82);
}

.page-link {
    color: black;
    border-color: rgb(82, 82, 82);
}

.blogHeading {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Gruppo', cursive;
    text-transform: capitalize;
}

.category-name {
    font-family: 'Consolas';
    text-transform: uppercase;
    color: #eee;
    font-size: large;
    font-weight: bold;
}

.cat-image {
    filter: brightness(60%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .5s ease-out 0s
}

.badge:hover .cat-image {
    filter: brightness(80%);
    box-shadow: 10px 10px 3px rgb(158, 157, 157);
    transition: all .5s ease-out 0s
}


/* Search */

.search-box {
    box-shadow: 5px 5px 2px rgb(158, 157, 157);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: rgb(253, 253, 255);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search-icon {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-box:hover {
    width: 70%;
    cursor: pointer;
}

.search-box:hover .search-input {
    display: block;
}

.search-box:hover .search-icon {
    background: #07051a;
    color: #f15c5c;
}