* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.side-wrap .sidebar {
    position: fixed;
    background: #fff;
    width: 200px;
    left: 100px;
    height: 100vh !important;
    overflow-y: scroll;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    z-index: 5;
    box-shadow: 0 3px 3px 1px rgba(152, 162, 179, 0.3), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
}

.side-wrap .sidebar::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.side-wrap .sidebar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.side-wrap .sidebar ul li {
    border-bottom: 1.5px solid #d7def3;
    cursor: pointer;
}

.side-wrap .sidebar ul li a {
    display: block;
    padding: 12px;
    color: #141414;
    position: relative;
    margin-bottom: 1px;
    white-space: nowrap;
}

.toggle-button {
    position: static;
    border-bottom: 0px solid #d7def3 !important;
    box-shadow: 0 3px 3px 1px rgba(152, 162, 179, 0.3), 0 1px 5px -2px rgba(152, 162, 179, 0.3);
}

.side-wrap .sidebar ul li menu-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #474747;
    display: block;
}

.side-wrap .sidebar ul li a span.icon {
    margin-left: 10px;
    display: inline-block;
}

.side-wrap .sidebar ul li a span.title {
    display: inline-block;
}

.fa,
.icon {
    margin-left: auto;
    color: #343a40;
}

.side-wrap .sidebar ul li a:hover,
.side-wrap .sidebar ul li a.active {
    background: #343a40;
    color: #fff;
}

.side-wrap .sidebar ul li a:hover .title,
.side-wrap .sidebar ul li a.active .title {
    color: #fff;
}

.side-wrap .sidebar ul li a:hover .icon,
.side-wrap .sidebar ul li a.active .icon {
    color: #343a40;
}

.side-wrap .sidebar ul li a:hover:before,
.side-wrap .sidebar ul li a.active:before {
    display: block;
}

.side-wrap.side-collapse .sidebar {
    width: 70px;
    color: #000;
}

.side-wrap.side-collapse .sidebar ul li a {
    text-align: center;
    color: #000;
}

.side-wrap.side-collapse .sidebar ul li a span.icon {
    margin: 0;
    color: var(--ace-dark-main-color);
}

.side-wrap.side-collapse .sidebar ul li a span.title {
    display: none;
    color: #000;
}

.side-wrap.side-collapse .sidebar ul li a.active .icon,
.side-wrap.side-collapse .sidebar ul li a:hover .icon {
    color: #fff;
}

.toggle-button a {
    height: 60px;
    padding-top: 12px !important;
}

.toggle-button a:hover span i {
    color: #fff;
}

.menu-list a:hover span i {
    color: #fff;
}

.toggle-button a:hover .title {
    color: #4360b5;
}

.toggle-button a span i {
    color: #4360b5;
    margin-right: 10px;
    font-weight: bold;
}

.active {
    background-color: #343a40;
    color: #eee;
}